footer
  hr
  .container.text-center
    p.pull-left © 2016&#032;
      a(href='https://github.com/DDoS/ECSE-428-Project/blob/master/LICENSE.md')
        | Project Mayhem
    ul.pull-right.list-inline
      li
        i.fa.fa-github
        a(href='https://github.com/DDoS/ECSE-428-Project') Visit us on GitHub
