extends ../layout

block content
    .page-header
        h3 Create Argument

    script.
        function auto_grow(element) {
            if (element.scrollHeight > 50) {
                element.style.height = "auto";
                element.style.height = (element.scrollHeight + 15) + "px";
            }
        }

    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.col-md-7
            textarea.form-control(style="min-height:50px; outline: none; resize: none; overflow: hidden;",onkeyup='auto_grow(this)',name='argument', placeholder='Type your thoughts', autofocus=true)
        .form-group.col-md-7
            button.col-sm-3.btn.btn-primary(type='submit')
                i.fa.fa-label.fa-paper-plane
                | Enter
            button.col-md-offset-1.col-sm-3.btn.btn-primary(type='submit')
                i.fa.fa-label.fa-remove
                | Cancel


