extends ../layout

block content
    .page-header
        h3 Post New Question
    form.form-horizontal(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='title') Title
            .col-sm-7
                input.form-control(type='title', name='title', id='title', placeholder='Question Title', autofocus=false)
        .form-group
            label.col-sm-3.control-label(for='text') Details
            .col-sm-7
                textarea.form-control(id='text',rows=5,placeholder='What do you want to argue?', autofocus=false style="resize: none;")
        .form-group
            .col-sm-offset-3.col-sm-7
                button.col-sm-3.btn.btn-success(type='submit')
                    i.fa.fa-paper-plane
                    | Post
                button.col-sm-offset-1.col-sm-3.btn.btn-primary(type='submit')
                    i.fa.fa-remove
                    | Discard
